<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Improve and maintain Berlin cycle lanes</title>
</head>
<body>
    <h1>Improve and Maintain Berlin Cycle Lanes</h1>
   <h3>Are you sick of punctures on your way to work on a Monday morning, picking the debris from a hedonisitic weekend out of your tyres.
    Being diverted directly into trees or bus shelters because of construction.
    Having your teeth rattled loose riding over cobblestones while cars sail smoothly past. Damaging your rims having to bump up and down curbs or always having to look over you shoulder to make sure that car isn't about to make a right turn into you?</h3>
     <h2>So are we! <a href="/register">Click here</a> to support our campaign for safer, smoother cycling in Berlin.</h2>
</body>
</html>