<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars Portfolio</title>
</head>
<body>
    <h1>This is my about template</h1>
        {{#emojis}}
        <h2>{{.}}</h2>
        {{/emojis}}
</body>
</html>